<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Best Handmade Art & Craft products for your special one. Top quality products which are customizable according to your needs. Best place to buy Handmade Crafty Products.">
    <meta name="keywords" content="Craft,Art,Handmade,Gourav,Hammad,Card,Box,Gift,DIY,Crafty,Crafty Gourav, Gourav Hammad, Art & Craft, Handmade Art, Handmade Craft, Products, Best Gift">
    <meta name="author" content="Gourav Hammad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Crafty Gourav</title>

    <link rel='icon' href='/background/logo.jpg' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/sidebar.css">
    <link rel="stylesheet" href="/customCSS/home.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
    <link rel="stylesheet" href="/customCSS/jquery.mCustomScrollbar.min.css">

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="mt-3 bg-white" id="dismiss">
                <img src="background/back.svg" height="15" width="15">
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a class="bg-white text-dark" href="/">Home</a>
                </li>
                <li>
                    <a href="login">Login</a>
                </li>
                <li>
                    <a href="signup">Signup</a>
                </li>
                <li>
                    <a href="about">About</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn ml-1">
                        <img src="background/menu.svg" height="20" width="20">
                        <span class="menu">MENU</span>
                    </button>
                    <form class="form-inline input-group-sm" method="POST" action="searchProduct">
                        <a href="login"><img class="mr-2" src="background/cart.svg" height="20" width="20"></a>
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" style="width: 140px;" required>
                        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm ml-1 mr-2" type="submit">Search</button>
                    </form>    
                </div>
            </nav>

            <div class="container-fluid mt-5 p-0 mb-0">
                <div class="row bg-dark rounded shadow-lg p-0">
                    <div class="col text-center p-0"><h3 class="navbar-brand mx-auto pb-0 pl-0" style="font-size: 30px;">Welcome to Crafty Gourav </h3></div>
                </div>
                <div class="row">
                    <div class="col mt-1 p-0"> 
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img class="d-block w-100" src="background/1.jpg" alt="First slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="background/3.jpg" alt="Second slide">
                              </div>
                              <div class="carousel-item">
                                <img class="d-block w-100" src="background/1.jpg" alt="Third slide">
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                
                    </div>
                </div>

                <div class="row p-0 mt-2">

                    <div class="col text-right p-0">
                        <div class="dropdown mr-3">
                            <button class="btn btn-light shadow-sm" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="form-inline" src="background/filter.svg" height="30" width="30">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <a href="#" class="dropdown-item disabled font-weight-bold">Category</a>

                                <% for(j = 0; j < categories.length; j++){ %>

                                    <form action="sort" method="POST">
                                        <input type="hidden" name="filter" value="<%= categories[j] %>" >
                                        <input type="submit" class="dropdown-item small" value="<%= categories[j] %>">
                                    </form>
                                    
                                <% } %>

                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item disabled font-weight-bold">Price</a>
                                
                                <form action="sort" method="POST">
                                    <input type="hidden" name="filter" value="ASC" >
                                    <input type="submit" class="dropdown-item small" value="Low to High">
                                </form>
                                
                                <form action="sort" method="POST">
                                    <input type="hidden" name="filter" value="DESC" >
                                    <input type="submit" class="dropdown-item small" value="High to Low">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col">
                        <div class="row mb-4">
                        
                        <% for(i = 0; i < result.length; i++){ %>

                            <div class="col col-6 col-md-3 p-1">
                                <div class="card mt-3 rounded shadow pb-0">
                                    <div class="card-body pt-2 pb-2 pl-2 pr-2 text-center">
                                        <a href="productDetailsHome?pId=<%=result[i].pId%>"><img src="products/<%= result[i].pPicture %>" class="card-img-top" alt="product" style="max-width: 350px; max-height: 350px;"></a>
                                    </div>
                                    <div class="card-body p-1">
                                    <h5 class="card-title text-center font-weight-bold" style="min-height: 70px;"><a class="anker" href="productDetailsHome?pId=<%=result[i].pId%>"><%= result[i].pName %></a></h5>
                                    <h6 class="card-subtitle mb-2 small ml-2"><%= result[i].pCategory %></h6>
                                    <h6 class="card-subtitle mb-2 text-muted ml-2 font-weight-bold">Rs. <%= result[i].pPrice %></h6>
                                    </div>
                                    <div class="card-body pb-0 pt-0 pl-3 pr-3 bg-light">
                                        <div class="row">
                                            <div class="col col-5 p-0"><a href="login" class="product-button btn btn-dark btn-sm btn-block p-0 pt-1 pb-1" style="font-size: 12px;">BUY NOW</a></div>
                                            <div class="col col-7 p-0"><a href="login" class="product-button btn btn-outline-dark btn-sm btn-block p-0 pt-1 pb-1" style="font-size: 12px;">ADD TO CART</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
 
                        <% } %>
      
                        </div>
                    </div>
                </div>

                <div class="row p-0 m-0 mt-2">
                    <div class="col p-0 m-0 bg-dark">
                        <p class="m-0 text-center text-white pt-1 pb-1">Copyright &copy; Crafty Gourav 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="overlay"></div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>