<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Best Handmade Art & Craft products for your special one. Top quality products which are customizable according to your needs. Best place to buy Handmade Crafty Products.">
    <meta name="keywords" content="Craft,Art,Handmade,Gourav,Hammad,Card,Box,Gift,DIY,Crafty,Crafty Gourav, Gourav Hammad, Art & Craft, Handmade Art, Handmade Craft, Products, Best Gift">
    <meta name="author" content="Gourav Hammad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Crafty Gourav</title>

    <link rel='icon' href='/background/logo.jpg' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/sidebar.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
    <link rel="stylesheet" href="/customCSS/cart.css"> 
    <link rel="stylesheet" href="/customCSS/login.css"> 
    <link rel="stylesheet" href="/customCSS/jquery.mCustomScrollbar.min.css">

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-danger">
            <div class="mt-3 bg-danger" id="dismiss">
                <img src="/background/back.svg" height="15" width="15">
            </div>

            <ul class="list-unstyled components">

                <li>
                    <a href="home">Home</a>
                </li>
                <li>
                    <a href="account">My Account</a>
                </li>
                <li>
                    <a href="orders">My Orders</a>
                </li>
                <li>
                    <a href="cart">My Cart</a>
                </li>
                <li>
                    <a class="bg-white text-dark" href="#">My Wishlist</a>
                </li>
                <li>
                    <a href="about">About Us</a>
                </li>
                <li>
                    <a href="feedback">Share Feedback</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs mt-5">
                <li>
                    <a href="logout" class="btn btn-dark">LOG OUT</a>
                </li>
            </ul>
        </nav>

         <!-- Page Content  -->
         <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn ml-1 pr-0">
                        <img src="/background/menu.svg" height="20" width="20">
                        <span class="menu">MENU</span>
                    </button>
                    <form class="form-inline input-group-sm" method="POST" action="searchProduct">
                        <a href="cart"><img class="mr-2" src="/background/cart.svg" height="20" width="20"><span class="notification text-center"><%= cartTotal[0].count %></span></a>
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" style="width: 140px;" required>
                        <button class="btn btn-outline-success my-2 my-sm-0 btn-sm ml-1 mr-2" type="submit">Search</button>
                    </form>    
                </div>
            </nav>

            <div class="container-fluid mt-5 p-0 mb-0">
                <div class="row">
                    <div class="col col-md-5 mx-auto"> 

                        <% if(items){ %>

                        <div class="row bg-dark pt-1 pb-1 mb-2">
                            <div class="col text-center">
                                <h1 class="h3 font-weight-normal" style="font-family: 'Kaushan Script'; color: #fed136; ">My Wishlist</h1>      
                            </div>  
                        </div>
                    
                       <% for(i = 0; i < items.length; i++){ %>
                           
                        <div class="row p-2 shadow-sm bg-white mb-2">
                            <div class="col col-3 p-0 text-center">
                                <img src="/products/<%= items[i].pPicture %>" class="shadow" widht="80" height="80">
                            </div>
                            <div class="col col-5">
                                <div class="row" style="height: 56px;">
                                    <a class="anker h6 mt-1 ml-2 text-break" href="productDetailsHome?pId=<%=items[i].pId%>"><%= items[i].pName %></a>
                                </div>
                                <div class="row p-0">
                                    <p class="h6 ml-2">Rs. <%= items[i].pPrice %></p>
                                </div>
                            </div>
                            <div class="col col-4 pt-4">
                                <div class="row">
                                    <div class="col text-center">
                                        <form action="removeFromWishlist" method="POST">
                                            <input type="hidden" name="pId" value="<%= items[i].pId %>">
                                            <input type="submit" value="Remove" class="btn btn-danger btn-sm btn-block">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% } 
                       }else{ %>

                        <div class="row mt-2">
                            <div class="col mx-auto col-md-8 bg-white text-center shadow-lg  pt-3 pb-3">
                                <h1 class="h2 mt-2 font-weight-bold text-danger">No items in wishlist!</h1>
                                <h1 class="h6 mt-3 text-muted">Go and add an item to wishlist.</h1>
                            </div>
                        </div>

                    <% } %>

                    </div>
                </div>
            </div>
    </div>

    <div class="overlay"></div>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#dismiss, .overlay').on('click', function () {
                $('#sidebar').removeClass('active');
                $('.overlay').removeClass('active');
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });

    </script>
</body>

</html>




